/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f6fa;
}

/* Center page */
.page {
  min-height: 100vh;
    width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #4a90e2;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #357abd;
}

/* Product & Cart list */
.list {
  width: 500px;
}

.item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.item button {
  width: auto;
  padding: 6px 12px;
  font-size: 13px;
}

/* Empty cart */
.empty {
  text-align: center;
  color: #888;
}
